page-hbg {
  small {
    font-family: monospace;
  }

  .form-control{
    border: solid 1px gainsboro;
    margin-bottom: 2rem;
  }

  .btn {
    font-family: monospace;

  }

  .head {
    background-color: #222;
    color: white;
  }

  .head h2 {
    margin-top: 0;
    margin-left: 0.5rem;
  }

  .head small {
    margin-left: 0.5rem;
  }

  .form-validation {
    border-radius: 10px;
  }
}

.alert {
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  color: white;
}

.alert-success {
  background-color: #28a745;
  color: white;
}

.alert-warning {
  background-color: #ffc107;
  color: white;
}

.alert-danger {
  background-color: #dc3545;
  color: white;
}
